@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-family: Georgia, Times, serif;
    line-height: 1.75rem;
}

.dropcap:first-letter {
    font-size: 4rem;
    font-weight: bold;
    float: left;
    margin: 1rem .5rem .1rem 0;
    color: purple;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: purple;
}

.billboard {
    background-image: url(../images/nailpolish.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.billboard h1 {
    margin: 6rem 0;
    padding: 1rem;
    text-shadow: .30rem .20rem .05rem rgba(0, 0, 0, .4);
}

.logo {
    width: 1.5rem;
    height: auto;
    float: left;
    margin: 1.5rem 5%;
}

.black { 
    height: 20rem;
    width: 15rem;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.selected {
    background-color: purple;
}

article {
    margin: 0;
    padding: 1.5rem 5%;
}

h1 {
    margin: 0 5% 2.5rem;
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Marko One', Helvetica, Arial, sans-serif;
    color: white;
}

h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-shadow: .10rem .10rem .05rem rgba(0, 0, 0, .4);
}

.bucket {
    float:  left;
    margin: 0;
    padding: 0;
    width: 45%; /* This number x 2 */
    margin: 0 10% 1.5rem 0; /* Plus second value here must = 100% */
}

.bucket a,
.bucket a:link,
.bucket a:visited {
    display:  block;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 3rem 5%;
    color: white;
}

.bucket h3 {
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
    margin-right: 0;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
    margin-right: 0;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
    margin-right: 0;
}

.pink {
    background-color: pink;
}

footer {
    margin: 0;
    padding: 1.5rem 5% 6rem;
    background-color: purple;
    clear:  both;
}

.nav-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
    color: white;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.5rem;
}

.products figure img {
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
}

.products figure {
    box-shadow: .2rem .4rem .4rem .2rem rgba(0, 0, 0, .8);
    border-radius: 1.25rem;
}

.polishphotored {
    border: solid .35rem rgba(178, 27, 28, .8);
}

.polishphotored figcaption {
    background-color: rgba(178, 27, 28, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotored h4 {  
    background-color: rgba(178, 27, 28, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}

.polishphotoorange {
    border: solid .35rem rgba(255, 128, 0, .8);
}

.polishphotoorange figcaption {
    background-color: rgba(255, 128, 0, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotoorange h4 {  
    background-color: rgba(255, 128, 0, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}

.polishphotoyellow {
    border: solid .35rem rgba(255, 223, 0, .8);
}

.polishphotoyellow figcaption {
    background-color: rgba(255, 223, 0, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotoyellow h4 {  
    background-color: rgba(255, 223, 0, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}

.polishphotogreen {
    border: solid .35rem rgba(19, 136, 8, .8);
}

.polishphotogreen figcaption {
    background-color: rgba(19, 136, 8, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotogreen h4 {  
    background-color: rgba(19, 136, 8, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}

.polishphotoblue {
    border: solid .35rem rgba(19, 102, 255, .8);
}

.polishphotoblue figcaption {
    background-color: rgba(19, 102, 255, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotoblue h4 {  
    background-color: rgba(19, 102, 255, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}

.polishphotopurple {
    border: solid .35rem rgba(138, 43, 255, .8);
}

.polishphotopurple figcaption {
    background-color: rgba(138, 43, 255, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotopurple h4 {  
    background-color: rgba(138, 43, 255, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}

.polishphotopink {
    border: solid .35rem rgba(255, 102, 255, .8);
}

.polishphotopink figcaption {
    background-color: rgba(255, 102, 255, .8);
    padding: 0 5% 1.5rem;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

.polishphotopink h4 {  
    background-color: rgba(255, 102, 255, .8);
    padding: 0 5% 1.5rem;
    margin: 0;
    height: 1rem;
    padding-top: .5rem;
}